body {
    background-color: antiquewhite;
}

.naglowek ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
.naglowek li {
    float: left;
    font-family: arial;
    font-size: 20px;
}
.naglowek li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}
.naglowek a:hover {
    background-color: rgba(8, 8, 8, 0.2);
}