body {
    background-color: rgb(247, 237, 223);
}

.naglowek ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #5f5f5f;
}
.naglowek li {
    float: left;
    font-family: arial;
    font-size: 20px;
}
.naglowek li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    text-decoration: none;
}
.naglowek a:hover {
    background-color: rgba(55, 50, 50, 0.2);
}